.chat-container {
    height: calc(100vh - 56px);
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/gcGB524.jpg);

    .chat-title {
        height: 5vh;
    }

    .chat-messages {
        height: calc(75vh - 56px);
        overflow-y: scroll;
    }

    .chat-form {
        height: 10vh;
    }

    .message-container {
        .author {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &.sender {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .author-name {
                margin-left: 68px;
            }
           
            .author {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
}
  
// .input-chat {
//     position: absolute; 
//     bottom: 5px;
//     width: 24rem;
// }

// .receiver {
//     margin-left: 0px;
// }