.chat-container {
    height: calc(100vh - 56px);
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/gcGB524.jpg);

    .chat-title {
        height: 5vh;
    }

    .chat-messages {
        height: calc(80vh - 56px);
        overflow-y: scroll;
    }

    .chat-form {
        height: 10vh;
        position: fixed;
        bottom: 30px;
        left: 15px;
        right: 15px;

        form {
            position: relative;
        }

        textarea {
            padding: 10px;
            padding-right: 50px;
        }

        button {
            position: absolute;
            top: 12px;
            right: 10px;
            outline: none;
            border: none;
            background: transparent;
            font-size: 30px;
            color: $primary;
        }
    }

    .message-container {
        p{
            margin-bottom: 0;
        }
        .author {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .speech-bubble {
            position: relative;
            width: 85%;
            background: white;
            color: black;
            border-radius: 15px;
            padding: 10px;
        }

        &.receiver {
            .speech-bubble {
                margin-left: 20px;
                padding-left: 20px;
            }

            .speech-bubble:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-right-color: white;
                border-left: 0;
                border-bottom: 0;
                margin-top: -10px;
                margin-left: -19px;
            }
        }

        &.sender {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            .speech-bubble {
                margin-right: 20px;
                padding-right: 20px;

                p {
                    text-align: end;
                }
            }

            .speech-bubble:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-left-color: white;
                border-right: 0;
                border-bottom: 0;
                margin-top: -10px;
                margin-right: -19px;
            }
            .author-name {
                margin-left: 68px;
            }
           
            .author {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
}
  
// .input-chat {
//     position: absolute; 
//     bottom: 5px;
//     width: 24rem;
// }

// .receiver {
//     margin-left: 0px;
// }