// Import page-specific CSS files here.
@import "home";
@import "matches_index";
@import "chatroom";
@import "profile_show";


.card-match-info {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
}

.index-background-match {
  background-size: cover;
  background-position: left;
  background-image: url(https://i.imgur.com/TroN2YL.jpg);
}

.index-background-bars {
  background-size: cover;
  background-position: left;
  background-image: url(https://i.imgur.com/TroN2YL.jpg);
}

.league-style {
  font-size: 14px;
  opacity: 0.4;
  color: black;
}

.teams-style {
  font-size: 17px;
  color: black;
}

.date-style {
  font-size: 14px;
  opacity: 0.4;
  color: black;

}

.filter-button {
  font-size: 13px;
  color: white;
  border-radius: 3px;
  border-color: #D73A49;
  background-color: #D73A49;
}

.bar-category {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 2px;
  padding: 0.1rem 0.5rem;
  background-color: #D73A49;
  color: white;
  border: 1px solid #D73A49;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.bar-status {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 2px;
  padding: 0.1rem 0.5rem;
  background-color: #D73A49;
  color: white;
  border: 1px solid #D73A49;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

#toggleButton{
  border: none;
  outline: none;
  background-color: transparent;
}
.bar-div{
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.transition{
  opacity: 0;
  display: none;
}

