.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 2px;
  // padding: 0.1rem 0.5rem;
  background-color:none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 14px;
  // margin: 5px 10px;
}

.tag-selector:checked + label {
  background-color: #D73A49;
  color: white;
}
