.banner_edit {
  background-size: cover;
  background-position: center;
  background-image: url(https://i.imgur.com/TroN2YL.jpg);
  min-height: 100vh;
} 


.container_edit {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}