.banner_profile {
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
  width: 100%;
} 

.button_profile {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 20px 0;
  border-radius: 35px 0 0 0;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 50%;
  text-align: center;
  position: relative;
}

.button_profile:hover {
  opacity: 1;
  background-color: white;
}

.button_profile:active {
  background-color: blue;
}


.button_bookings {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 20px 0;
  border-radius:  0 35px 0 0;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 50%;
  text-align: center;
}


.button_bookings:hover {
  opacity: 1;
  background-color: white;
}

.container_profile {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
  position: relative;
}