.bar-card {
  overflow: hidden;
  height: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border: 1.5px solid white;
}

.bar-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.bar-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.bar-card p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.bar-card .bar-card-infos {
  padding: 16px;
  color:black;
}
